body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color:#fada5e;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b03636;
    color: aliceblue;
    min-height: 8vh;
}

.Logo{
    height: 45px;
    width: 45px;
    transition-duration: 0.4s;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}

.Logo:hover{
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
}

.MainPage{
    display: flex;
    justify-content: space-between;
    background-color: #fada5e;
    padding-right: 12vh;
    padding-left: 12vh;
    margin-top: 70px;   
}

.Menu{
    margin-top: 7vh;
    flex:1;
    display: flex;
    justify-content: center;
    gap: 7vh;
    flex-direction: column;
}

.TableImage{
    flex:1;
    display: flex;
    justify-content: center;
}

.Title{
    margin-top: 0%;
    font-size: 8vh;
    font-family: 'Letter Sketch', sans-serif;
    color: #2e5cb8;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Title h3{
    margin: 0%;
}

.Title h4{
    margin: 0%;
}

.Buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 3;
}

.ButtonStyle{
    margin-bottom: 3vh;
    width: 40vh;
    height: 5vh;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 20px;
    border-width: thick;
    border-color: #b03636;
    color: #fada5e;
    background-color: #b03636;
    font-size: 16px;
    transition-duration: 0.4s;
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
}

.ButtonStyle:hover{
    cursor: pointer;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }

.Fundal{
    width: auto;
    height: 550px;
}

@media screen and (max-width: 1100px){
    .TableImage{
      display: none;
    }
}

@media screen and (max-height: 500px){
    .TableImage{
      display: none;
    }
}

@media screen and (max-width: 577px){
    .Title h3{
        margin: 0%;
        font-size: 55px; 
    }
    
    .Title h4{
        margin: 0%;
        font-size: 45px;
    }

    .Menu{
        margin-top: 70px;
    }
}

@media screen and (max-width: 473px) {
    .Title h3{
        margin: 0%;
        font-size: 35px; 
    }
    
    .Title h4{
        margin: 0%;
        font-size: 30px;
    }

    .ButtonStyle{
        width: 30vh;
        height: 4vh;
        font-size: 13px;
    }
}
  
