.square{
    width: 80px;
    height: 80px;
    background-color: #1B62CC;
    display: flex;
    border: 0px;
    padding: 6px;
    cursor: pointer;

}

.circle{
    border-radius: 50%;
    background-color: #1E55A8;
    flex: 1;
    display: flex;
} 

.column{
    display: flex;
    flex-direction: row;
}  

.board{
    /* width: 400px;
    height: 400px;  */
    display: flex;
    flex-direction: column;
}

.SinglePlayer{
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-border{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 615px;
    width: 700px;
    background-color: #1B62CC;
    border-radius: 60px;
}
